body {
    background-color: salmon;
    font-family: 'Sour Gummy';
}

header {
    box-sizing: border-box;
    background-color: lightblue;
    margin: 0;
    padding: 0.75em;
    min-width: 100%;
}

h1, h2, h3 {
    text-align: center;
}

h2, h3 {
    font-weight: 600;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 5%;
    left: -20%;
}

button {
    color: rgb(229, 214, 202);
    background-color: rgb(159, 56, 56);
    border: none;
    padding: 0.2em 0.4em 0.2em 0.4em;
    border-radius: 10px;
    transition: all 0.5s;
}

button:hover {
    background-color: rgb(79, 52, 52);
}

#display {
    background-color: lightblue;
    width: 400px;
    height: 250px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 10px 10px rgb(119, 74, 74));
}

#display div {
    width: 350px;
    height: 200px;
    background-color: lightblue;
    /* filter: drop-shadow(0px 0px 10px darkcyan); */
    box-shadow: inset -5px -5px 10px darkcyan;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display div img {
    filter: drop-shadow(0px 5px 2px darkcyan);
}

#price {
    margin: 2em;
}

#price section {
    display: flex;
    justify-content: space-between;
}

#price-evaluation {
    font-size: 1.5em;
    color: lightblue;
}

#bar {
    width: 350px;
    height: 25px;
    background-color: white;
    border: 2px solid black;
}

#bar div {
    height: 25px;
    width: 25%;
    background-color: lightblue;
    transition: all 1s;
}

/* #cheap {
    width: 50%;
    background-color: lightblue
}

#normal {
    width: 175px;
    background-color: rgb(255, 255, 182)
}

#expensive {
    width: 315px;
    background-color: rgb(253, 63, 6)
} */


.hidden {
    opacity: 0;
}
