html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  color: aliceblue;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 1200px;
  height: 750px;
}

strong {
  color: rgb(239, 104, 41);
}

header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: auto;
  padding: 0;
}

h1 {
  font-size: 5em;
  margin-bottom: 0;
  margin-top: 0;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

#start {
  padding: 0.5em 1.5em 0.5em 1.5em;
  font-size: 2em;
  font-weight: 600;
  color: aliceblue;
  background-color: rgb(239, 104, 41);
  border-radius: 0.5em;
  transition: all 0.5s ease;
}

#start:hover {
  background-color: rgb(84, 44, 11);
}

#box {
  position: relative;
  width: 1000px;
  height: 600px;
  border: 10px ridge rgb(154, 179, 198);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 600px;
  z-index: -3;
}

.textbox {
  box-sizing: border-box;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  color: aliceblue;
  background-color: #1b1b1eee;
  padding: 0 1.2em 0 1.2em;
  width: 900px;
  height: 150px;
  z-index: 10;
}

.textbox p {
  font-size: 1.2em;
  line-height: 1.4em;
}

.textbox .fa-computer-mouse {
  position: absolute;
  font-size: 1.5em;
  bottom: 20px;
  right: 20px;
  animation: mouse 1.5s infinite alternate ease-in-out;
}

@keyframes mouse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

#skip-intro {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
  top: 10px;
  right: 20px;
  color: aliceblue;
}

#skip-intro:hover {
  cursor: pointer;
}


#location-select h2 {
  color: rgb(48, 58, 60);
  text-align: center;
}

#location-select:hover {
  cursor: crosshair;
}

.fa-location-pin {
  font-size: 24px;
  color: rgb(49, 60, 60);
  transition: all 0.5s;
}

.fa-location-pin:hover {
  transform: scale(2);
  color: rgb(239, 104, 41);
  cursor: pointer;
}

.popup {
  font-size: 0.8em;
  /* position: absolute; */
  background-color: #57919cd6;
  color: white;
  padding: 0.4em;
  border-radius: 5px;
}

.popup:hover {
  cursor: pointer;
}

#pin1,
#pin2,
#pin3 {
  position: absolute;
  text-align: center;
}


#pin1 {
  bottom: 80px;
  left: 80px;
}

/* #popup1 {
    bottom: 120px;
    left: 120px;
} */

#pin2 {
  top: 200px;
  right: 220px;
}

/* #popup2 {
    top: 210px;
    right: 280px;
} */


#pin3 {
  top: 230px;
  right: 150px;
}

/* #popup3 {
    top: 240px;
    right: 170px;
} */

#done {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(239, 104, 41);
  border-radius: 3px;
  font-weight: 600;
  color: aliceblue;
  padding: 0.5em 0.8em 0.5em 0.8em;
}

#done:hover {
  background-color: rgb(84, 44, 11);
}

#maldives h2,
#oceanix h2,
#dogen h2 {
  position: absolute;
  top: 10px;
  left: 20px;
}

.response {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 250px;
  background-color: rgb(188, 223, 253);
  /* color: #41565b; */
  bottom: 25%;
  right: 2%;
  z-index: -1;
  padding: 1em;
  border-radius: 50px 50px 0 50px;

}

.response button {
  background-color: rgb(239, 104, 41);
  border-radius: 5px;
  font-weight: 600;
  color: aliceblue;
  padding: 0.5em 0.8em 0.5em 0.8em;
  margin-bottom: 0.4em;
  transition: all 0.5s ease;
}

.response button:hover {
  cursor: pointer;
  background-color: rgb(84, 44, 11);
}

#overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  background-color: aliceblue;
  color: #41565b;
  padding: 1em;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

#cancel, #continue, #replay {
  border-radius: 5px;
  padding: 0.5em 0.8em 0.5em 0.8em;
  transition: all 0.5s ease;
}

#cancel {
  color: aliceblue;
  background-color: #7e8689;
}

#cancel:hover {
  background-color: #2f3334
}

#continue, #replay {
  color: aliceblue;
  background-color: rgb(239, 104, 41);
}

#continue:hover, #replay:hover {
  background-color: rgb(84, 44, 11);
}

#dimmer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #292d2ea9;
    z-index: 3;
}

.background-color {
  width: 1000px;
  height: 600px;
  background-color: #233c68;
  z-index: -1;
}

.background-color h2{
  margin: 0;
  text-align: center;
  padding-top: 2em;
}


#choices {
  position: absolute;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 40px;
  text-align: center;
}

.choice-container p {
  margin-top: 1.5em;
  font-weight: 500;
  transition: all 0.5s ease;
}


.choice img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* #choose-dogen img {
  top: 70%;
} */

.choice {
  position: relative;
  background-color: rgb(148, 248, 248);
  width: 200px;
  height: 200px;
  border: 5px solid rgb(148, 248, 248);;
  border-radius: 100px;
  overflow: hidden;
  filter: grayscale(70%);
  /* perspective: 800px; */
  transition: all 0.5s ease;
}

.choice:hover {
  /* transform: rotateX(30deg);
  transform: rotateZ(30deg); */
  transform: scale(1.2);
  filter: grayscale(0%);
}

.final {
  filter: sepia(80%);
}

.showing {
  display: block;
  opacity: 1;
  /* transform: scale(1); */

}

.hidden {
  display: none;
  opacity: 0;
  /* transform: scale(0.9); */

  /* 2. Transition Settings */
  transition:
    opacity 0.3s ease,
    display 0.3s ease;
}


#overlay.hidden {
  display: none;
}


@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* particles js */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2c2e43;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -5;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  /* -webkit-user-select: none; */
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}