#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
}

body {
    color: #164F65;
    font-family: 'Ribeye', Times, serif;
    font-size: 24px;
}

h1 {
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}


#question {
    display: flex;
    align-items: center;
    gap: 10px;
}

#bar {
    width: 250px;
    height: 20px;
    background-color: #CEE9F3;
    border: 4px solid #164F65;
    border-radius: 25px;
    /* display: flex;
    align-items: center; */
}

#progress {
    width: 0%;
    height: 20px;
    background-color: #164F65;
    border-radius: 25px 0 0 25px;
    transition: all 1s;
}

h2 {
    font-size: 24px;
    padding: 0.8em;
    text-align: center;
}

#red {
    background-color: #FF786E;
    border-radius: 0 40px 0 0;
    width: 390px;
}

.dropzone-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.dropzone {
    overflow: hidden;
    margin: .5em;
    padding: 1em;
    text-align: center;
    background: #ccc;
    border: 4px solid white;
    transition: background .15s linear, border-color .15s linear;
    min-height: 250px;
}

#drop1 {
    background-color: #CEE9F3;
    color: #6E9092;
}

#drop2 {
    background-color: #70B7BC;
    color: #164F65;
}

#drop3 {
    background-color: #164F65;
    color: #CEE9F3;
}

.draggable {
    /* position: relative; */
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 5;
    /* width: 200px;
    margin: .25em;
    padding: 1em 2em;
    background-color: #29e;
    color: #fff;
    text-align: center; */

    -ms-touch-action: none;
        touch-action: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #164F65;
    font-size: 0.5em;
    padding: 1em;
}

.hidden {
    display: none;
}

#dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 8;
    background-color: #10303d43;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

button {
    color: white;
    background-color: #164F65;
    border-radius: 50px;
    border: none;
    padding: 0.4em;
    font-size: 0.8em;
}