#myVideo {
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}

body {
    color: white;
    background-color: rgb(20, 20, 20);
}

.fa-expand {
    position: absolute;
    bottom: 60px;
    right: 100px;
    font-size: 2em;
    color: white;
    z-index: 5;
}

.fa-volume-xmark {
    position: absolute;
    bottom: 60px;
    right: 160px;
    font-size: 2em;
    color: white;
    z-index: 5;
}

.fa-pause {
    position: absolute;
    bottom: 60px;
    right: 230px;
    font-size: 2em;
    color: white;
    z-index: 5;
}

.fa-expand:hover, .fa-pause:hover, .fa-compress:hover, .fa-play:hover, .fa-volume-xmark:hover, .fa-volume-high:hover {
    cursor: pointer;
}

p {
    background-color: rgba(93, 103, 110, 0.8);
    padding: 1em;
    font-family: 'Lexend Deca', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

#line1 {
    position: absolute;
    top: 2em;
    left: 5em;
}

#line2 {
    position: absolute;
    top: 5em;
    right: 5em;
}

#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading p {
    position: absolute;
    text-align: center;
    font-size: 1em;
    top: 53%;
    left: 50%;
    background-color: rgba(240, 248, 255, 0);
    transform: translate(-50%, -50%);
}

.box {
    width: 100px;
    height: 100px;
}

#topleft {
    position: absolute;
    top: 5%;
    left: 5%;
    border-top: 3px solid rgba(255, 255, 255, 0.85);
    border-left: 3px solid rgba(255, 255, 255, 0.85);
}

#topright {
    position: absolute;
    top: 5%;
    right: 5%;
    border-top: 3px solid rgba(255, 255, 255, 0.85);
    border-right: 3px solid rgba(255, 255, 255, 0.85);
}

#bottomleft {
    position: absolute;
    bottom: 5%;
    left: 5%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.85);
    border-left: 3px solid rgba(255, 255, 255, 0.85);
}

#bottomright {
    position: absolute;
    bottom: 5%;
    right: 5%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.85);
    border-right: 3px solid rgba(255, 255, 255, 0.85);
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}